<div class="container-fluid vh-100 bg d-flex justify-content-center">
    <div class="container d-flex align-items-center justify-content-center">
    <div class="login-box rounded glass">
    <h2 class="display-4 font-weight-bold text-center text-white">Login</h2>
    <form>
      <div class="user-box ">
        <label for="usuario"></label>
        <input
        [(ngModel)]="userLogin.usuario"
        class="form-control"
        type="text"
        name="usuario"
        id="usuario"
        placeholder="user@email.com"
    />
    </div>
      <div class="user-box">
        <label for="senha"></label>
         <input 
                    [(ngModel)]="userLogin.senha"
                    class="form-control"
                    type="password"
                    name="senha"
                    id="senha"
                    placeholder="12345678"

                />
      </div>
      <a href="#" class="d-flex align-items-center justify-content-center" (click)="entrar()">
        <span></span>
        <span></span>
        <span></span>
          <span></span>
        Entrar
      </a>
    </form>
    <div class="d-flex justify-content-end">
      <a class="cad" routerLink="/cadastrar" href="">Cadastre-se</a>
  </div>
  </div>

</div>
</div>